<div class="title"><h1>Générateur de lettre</h1></div>
<div class="input center">
  <mat-form-field class="nb-form" appearance="outline">
    <mat-label>occurrences</mat-label>
    <input matInput [(ngModel)]="nb">
  </mat-form-field>
  <mat-form-field class="type-form" appearance="outline">
    <mat-select [(value)]="type" >
      <mat-option value="lowerCase">Minuscule</mat-option>
      <mat-option value="upperCase">Majuscule</mat-option>
    </mat-select>
  </mat-form-field>
    <button mat-raised-button color="primary" (click)="generate()">Obtenir</button>
</div>

<div class="output center">
  <mat-form-field class="result" appearance="outline">
    <textarea [readonly]="true" cdkScrollable cdkTextareaAutosize matInput cdkAutosizeMaxRows="10">{{output}}</textarea>
  </mat-form-field>
</div>
