<div class="title"><h1>Générateur de mot de passe</h1></div>
<div class="input center">
  <mat-form-field class="size" appearance="outline">
    <mat-label>Taille</mat-label>
    <input [(ngModel)]="size" matInput>
  </mat-form-field>
  <ul class="check">
    <li><mat-checkbox class="check" [(ngModel)]="withLowerCase">Minuscule</mat-checkbox></li>
    <li><mat-checkbox class="check" [(ngModel)]="withUpperCase">Majuscule</mat-checkbox></li>
    <li><mat-checkbox class="check" [(ngModel)]="withNumber">Nombre</mat-checkbox></li>
    <li><mat-checkbox class="check" [(ngModel)]="withSpecialCharacter">Caractère spécial</mat-checkbox></li>
  </ul>
  <button class="button" mat-raised-button color="primary" (click)="generate()" >Obtenir</button>
</div>

<div class="output center">
  <mat-form-field class="result" appearance="outline">
    <textarea [readonly]="true" cdkScrollable cdkTextareaAutosize matInput cdkAutosizeMaxRows="10">{{output}}</textarea>
  </mat-form-field>
</div>
