<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-drawer-container hasBackdrop="true" style="height: 100%;">
  <mat-drawer #drawer  mode ="over" style="width: 20%;">
      <mat-list>
        <mat-list-item>
          <button mat-icon-button aria-label="icon-button with menu icon" (click)="drawer.toggle()"><mat-icon matListIcon ng>menu</mat-icon></button>
          <h1 matLine>Utility tools</h1>
        </mat-list-item>
      </mat-list>
    <mat-divider></mat-divider>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header >Convertisseur de texte</mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <mat-selection-list>
          <a routerLink="/converter/text"><mat-list-option><mat-icon matListIcon>format_size</mat-icon><h3 matLine>Minuscule</h3></mat-list-option></a>
          <a routerLink="/converter/text"><mat-list-option><mat-icon matListIcon>text_fields</mat-icon><h3 matLine>Majuscule</h3></mat-list-option></a>
          <a routerLink="/converter/text"><mat-list-option><mat-icon matListIcon>short_text</mat-icon><h3 matLine>Phrase</h3></mat-list-option></a>
          <a routerLink="/converter/text"><mat-list-option><mat-icon matListIcon>Title</mat-icon><h3 matLine>Titre</h3></mat-list-option></a>
          <a routerLink="/converter/text"><mat-list-option><mat-icon matListIcon>align_vertical_center</mat-icon><h3 matLine>Inversé</h3></mat-list-option></a>
          <a routerLink="/converter/text"><mat-list-option><mat-icon matListIcon>align_horizontal_center</mat-icon><h3 matLine>Retourné</h3></mat-list-option></a>
        </mat-selection-list>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>Convertisseur de valeur</mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <mat-selection-list [multiple]="false">
          <a routerLink="/converter/volume"><mat-list-option><mat-icon matListIcon>aspect_ratio</mat-icon><h3 matLine>Volume</h3></mat-list-option></a>
          <a routerLink="converter/mass"><mat-list-option><mat-icon matListIcon>fitness_center</mat-icon><h3 matLine>Masse</h3></mat-list-option></a>
          <a routerLink="/converter/distance"><mat-list-option><mat-icon matListIcon>square_foot</mat-icon><h3 matLine>Distance</h3></mat-list-option></a>
          <a routerLink="/converter/speed"><mat-list-option><mat-icon matListIcon>speed</mat-icon><h3 matLine>Vitesse</h3></mat-list-option></a>
          <a routerLink="/converter/angle"><mat-list-option><mat-icon matListIcon>border_style</mat-icon><h3 matLine>Angle</h3></mat-list-option></a>
          <a routerLink="/converter/intensity"><mat-list-option><mat-icon matListIcon>bolt</mat-icon><h3 matLine>Intensité électrique</h3></mat-list-option></a>
          <a routerLink="/converter/substance-amount"><mat-list-option><mat-icon matListIcon>bubble_chart</mat-icon><h3 matLine>Quantité de matière</h3></mat-list-option></a>
          <a routerLink="/converter/luminous-energy"><mat-list-option><mat-icon matListIcon>emoji_objects</mat-icon><h3 matLine>Quantité de lumière</h3></mat-list-option></a>
        </mat-selection-list>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>Générateur</mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <mat-selection-list [multiple]="false">
          <a routerLink="/generator/lorem-ipsum"><mat-list-option><mat-icon matListIcon>format_align_left</mat-icon><h3 matLine>Lorem Ipsum</h3></mat-list-option></a>
          <a routerLink="/generator/letter"><mat-list-option><mat-icon matListIcon>format_bold</mat-icon><h3 matLine>Lettre</h3></mat-list-option></a>
          <a routerLink="/generator/number"><mat-list-option><mat-icon matListIcon>exposure_zero</mat-icon><h3 matLine>Nombre</h3></mat-list-option></a>
          <a routerLink="/generator/date"><mat-list-option><mat-icon matListIcon>calendar_today</mat-icon><h3 matLine>Date</h3></mat-list-option></a>
          <a routerLink="/generator/password"><mat-list-option><mat-icon matListIcon>lock</mat-icon><h3 matLine>Mot de passe</h3></mat-list-option></a>
          <a routerLink="/generator/item"><mat-list-option><mat-icon matListIcon>table_chart</mat-icon><h3 matLine>Élément d'un tableau</h3></mat-list-option></a>
        </mat-selection-list>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>Calcul</mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <mat-selection-list [multiple]="false">
          <mat-list-option><mat-icon matListIcon>functions</mat-icon><h3 matLine>Moyenne pondéré</h3></mat-list-option>
          <mat-list-option><mat-icon matListIcon>calculate</mat-icon><h3 matLine>Pourcentage</h3></mat-list-option>
          <mat-list-option><mat-icon matListIcon>details</mat-icon><h3 matLine>Théorème de pythagore</h3></mat-list-option>
          <mat-list-option><mat-icon matListIcon>calendar_today</mat-icon><h3 matLine>Théorème de thalès</h3></mat-list-option>
          <mat-list-option><mat-icon matListIcon>speed</mat-icon><h3 matLine>Vitesse</h3></mat-list-option>
          <mat-list-option><mat-icon matListIcon>date_range</mat-icon><h3 matLine>Écart</h3></mat-list-option>
        </mat-selection-list>
      </ng-template>
    </mat-expansion-panel>
  </mat-drawer>
  <mat-drawer-content>
  <mat-toolbar color="primary" class="mat-elevation-z5">
    <button mat-icon-button aria-label="icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
     <a routerLink=""> <span>Utility tools</span></a>
    <span style="flex: 1 1 auto;"></span>
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Couleur</button>
      <button mat-menu-item>Dark mode</button>
    </mat-menu>
  </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
   </mat-drawer-content>
 </mat-drawer-container>

 <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
