.tools
  display: flex
  justify-content: center
  align-items: center
  alignment-baseline: center
  margin: 5vh

a
  text-decoration: none
  color: black !important

.header-title
  text-decoration: none
  color: white
.content
  padding: 2rem
.drawer-header
  display: inline-flex
  align-items: center
  padding: 1em
h1
  margin-bottom: 0
