<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-drawer-container hasBackdrop="true" style="height: 100%;width:100%;">
  <mat-drawer #drawer  mode ="over" style="width: 20%;">
    <div class="drawer-header">
      <button mat-icon-button aria-label="icon-button with menu icon" (click)="drawer.toggle()"><mat-icon matListIcon ng>menu</mat-icon></button>
      <h1 matLine>Utility-tools</h1>
    </div>
    <mat-divider></mat-divider>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header >Convertisseur de texte</mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <mat-selection-list>
          <a routerLink="/converter/text"><mat-list-option><mat-icon matListIcon>format_size</mat-icon><span matLine>Minuscule</span></mat-list-option></a>
          <a routerLink="/converter/text"><mat-list-option><mat-icon matListIcon>text_fields</mat-icon><span matLine>Majuscule</span></mat-list-option></a>
          <a routerLink="/converter/text"><mat-list-option><mat-icon matListIcon>notes</mat-icon><span matLine>Phrase</span></mat-list-option></a>
          <a routerLink="/converter/text"><mat-list-option><mat-icon matListIcon>Title</mat-icon><span matLine>Titre</span></mat-list-option></a>
          <a routerLink="/converter/text"><mat-list-option><mat-icon matListIcon>align_vertical_center</mat-icon><span matLine>Inversé</span></mat-list-option></a>
          <a routerLink="/converter/text"><mat-list-option><mat-icon matListIcon>align_horizontal_center</mat-icon><span matLine>Retourné</span></mat-list-option></a>
        </mat-selection-list>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>Convertisseur de valeur</mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <mat-action-list>
          <button routerLink="/converter/volume" mat-list-item><mat-icon matListIcon>aspect_ratio</mat-icon><span matLine>Volume</span></button>
          <button routerLink="converter/mass" mat-list-item><mat-icon matListIcon>fitness_center</mat-icon><span matLine>Masse</span></button>
          <button routerLink="/converter/distance" mat-list-item><mat-icon matListIcon>square_foot</mat-icon><span matLine>Distance</span></button>
          <button routerLink="/converter/speed" mat-list-item><mat-icon matListIcon>speed</mat-icon><span matLine>Vitesse</span></button>
          <button routerLink="/converter/angle" mat-list-item><mat-icon matListIcon>border_style</mat-icon><span matLine>Angle</span></button>
          <button routerLink="/converter/intensity" mat-list-item><mat-icon matListIcon>bolt</mat-icon><span matLine>Intensité électrique</span></button>
          <button routerLink="/converter/substance-amount" mat-list-item><mat-icon matListIcon>bubble_chart</mat-icon><span matLine>Quantité de matière</span></button>
          <button routerLink="/converter/luminous-energy" mat-list-item><mat-icon matListIcon>emoji_objects</mat-icon><span matLine>Quantité de lumière</span></button>
        </mat-action-list>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>Générateur</mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <mat-action-list>
          <button routerLink="/generator/lorem-ipsum" mat-list-item><mat-icon matListIcon>format_align_left</mat-icon><span matLine>Lorem Ipsum</span></button>
          <button routerLink="/generator/letter" mat-list-item><mat-icon matListIcon>format_bold</mat-icon><span matLine>Lettre</span></button>
          <button routerLink="/generator/number" mat-list-item><mat-icon matListIcon>exposure_zero</mat-icon><span matLine>Nombre</span></button>
          <button routerLink="/generator/date" mat-list-item><mat-icon matListIcon>calendar_today</mat-icon><span matLine>Date</span></button>
          <button routerLink="/generator/password" mat-list-item><mat-icon matListIcon>lock</mat-icon><span matLine>Mot de passe</span></button>
          <button routerLink="/generator/item" mat-list-item><mat-icon matListIcon>table_chart</mat-icon><span matLine>Élément d'un tableau</span></button>
        </mat-action-list>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>Calculateur</mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <mat-action-list>
          <button mat-list-item><mat-icon matListIcon>functions</mat-icon><span matLine>Moyenne pondéré</span></button>
          <button mat-list-item><mat-icon matListIcon>calculate</mat-icon><span matLine>Pourcentage</span></button>
          <button mat-list-item><mat-icon matListIcon>details</mat-icon><span matLine>Théorème de pythagore</span></button>
          <button mat-list-item><mat-icon matListIcon>calendar_today</mat-icon><span matLine>Théorème de thalès</span></button>
          <button mat-list-item><mat-icon matListIcon>speed</mat-icon><span matLine>Vitesse</span></button>
          <button mat-list-item><mat-icon matListIcon>date_range</mat-icon><span matLine>Écart</span></button>
        </mat-action-list>
      </ng-template>
    </mat-expansion-panel>
  </mat-drawer>
  <mat-drawer-content>
  <mat-toolbar color="primary" class="mat-elevation-z5">
    <button mat-icon-button aria-label="icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink=""> <span class="header-title">Utility-tools</span></a>
    <span style="flex: 1 1 auto;"></span>
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Couleur</button>
      <button mat-menu-item>Dark mode</button>
    </mat-menu>
  </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
   </mat-drawer-content>
 </mat-drawer-container>

 <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
