h1
  display: flex
  justify-content: center
  align-items: center
  color: #3F51B5
  font-size: 7em
  line-height: 100%
  font-weight: bold
  margin-bottom: 3rem
h2
  text-align: center
  color: #E91E63
  font-size: large
.content
  display: flex
  justify-content: space-between
.card
  margin-left: 1rem
  margin-right: 1rem
.header
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 0 !Important
  cursor: default
